* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 2rem;
  font-style: none;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  background-color: rgba(0, 138, 255, 0.5);
  text-align: center;
}

.fondoSpecial {
  background-image: url("../img/fondoSpecial.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin-left: 55px;
  margin-right: 55px;
}

.sectionSpecial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div .card {
  margin-top: 4vh;
  border: white solid 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  background-color: rgba(0, 138, 255, 0.5);
}

.card-img, .card-img-top {
  margin-top: 10px;
}

.card-title {
  color: white;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.card-body .card-text {
  color: white;
  text-align: center;
  font-size: .9em;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.btn-primary {
  color: white;
  background-color: #008AFF;
  border-color: #008AFF;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
